

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h2{
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
line-height: 110%;
text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
font-size: 40px;
 margin-left: 25vh;
  margin-top: -5vh;
   margin-bottom: 20px;
}

h3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 110%;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    font-size: 10vh;
     margin-left: 20vh;
      margin-top: -1vh;
       margin-bottom: 20px;
    }



.header{
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    z-index: 2;
    background: transparent;
}

.header .nav a{
text-decoration: none;
color: black;
font-size: 20px;
margin-left: 20px;
font-weight: 600;
}

.nav a:hover{
    transition: 0.5s;
     border-bottom: 4px solid black;
}

.search i{
color: black;
font-size: 1.5em;
margin-left: 20px;
}
::placeholder{
    color: black;
}
.background{
    width: 100%;
    height: 100vh;
    background-image: url('../img/Stock-Maglie-Calcio-Originali.png');
    background-position: center;
    background-size: cover;
    filter: blur(5px);
}

.home{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    height: 75%;
    transform: translate(-50%, -50%);
    background-image: url('../img/Stock-Maglie-Calcio-Originali.png');
    background-position: center;
    background-size: cover;
    display: flex;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 10px 10px 0;
}

.content{
    display: flex;
    flex-direction: column;
    width: 700px;
    padding: 100px 0;
}

.content a {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 110%;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    margin-left: 15vh;
    margin-top: -30px;
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 70px;
    font-weight: 700;
    top: -40px;
    left: 80px;
}

.content h2{
    color: black;
    letter-spacing: 10px;
}
.content h3{
    font-size: 2em;
    text-align: center;
    color: black;
}

.content pre{
    margin-top: 20px;
    text-align: center;
    font-size: 1em;
    color: black;
}

.content .icon{
    margin-left: 17vh;
    border: 3px solid white;
    margin-top: 20vh;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
}

.content .icon i{
    margin-left: 20px;
    color: #fff;
}

.fa-brands{
    border: 1px solid black;
    height: 50px;
}

button{
width: 100%;
height: 40px;
background-color: rgb(66, 44, 48);
border: none;
outline: none;
font-size: 20px;
font-weight: 700;
border-radius: 7px;
color: #fff;
}

button:active{
    font-size: 25px;
}


.blur{
    border-left: 3px solid black;
    margin-left: 20vw;
    position: relative;
    width: 40vw;
    background-image: url('../img/dove-comprare-maglie-calcio.png');
    background-position: center;
    background-size: cover;
    filter: blur(15px);
}


.wrapper{
    margin-top: 10px;
    margin-left: -400px;
    position:relative;
    width: 700px;
    height: 75vh;
    display: grid;

}


.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 35px;
}

.inp{
    padding-bottom: 10px;
    border-bottom: 2px solid white;
}

.input{
    border: none;
    outline: none;
    background: none;
    width: 260px;
    margin-top: 40px;
    padding-right: 10px;
    font-size: 17px;
    color: #23c55e;
}

.submit{
    border: none;
    outline: none;
    width: 288px;
    margin-top: 25px;
    padding: 10px 0;
    font-size: 20px;
    border-radius: 40px;
    letter-spacing: 1px;
    cursor: pointer;
    background: linear-gradient(45deg,#23c55e,#228B22);
}


.footer{
    margin-top: 30px;
    letter-spacing: 0.5px;
    font-size:14px;
}

.link{
    color: #23c55e;
    text-decoration: none;
}

.banner{
    position: absolute;
    border-radius: 20px;
    top: 0;
    right:0;
    width: 450px;
    height: 100%;
    background: linear-gradient(to right, #23c55e,#228B22);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%);
    padding-right: 70px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.wel_text{
    font-size: 40px;
    margin-top: -50px;
    line-height: 50px;
}

.para{
    margin-top: 10px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
}

