body{
  background-color: #9fd3c7;
}

.admin{
    width: 20vw;
    background: #2c3e50;
    height: 7vh;
    margin-left: 100vh;
    margin-top: -20vh;
    justify-content: center;
    align-content: center;
    display: grid;
    text-decoration: none;
    font-size:25px;
    color: white;
    border-radius: 50px;
    border: 3px solid #142d4c;
    box-shadow: 0 0 50px 25px #113f67;
}
.admin2{
    width: 20vw;
    background: #2c3e50;
    height: 7vh;
    margin-left: 100vh;
    margin-top: -48vh;
    justify-content: center;
    align-content: center;
    display: grid;
    text-decoration: none;
    font-size:25px;
    color: white;
    border-radius: 50px;
    border: 3px solid #142d4c;
    box-shadow: 0 0 50px 25px #113f67;
}
.admin2:hover{
  background: #455d7a;
  transition: 0.5s;
}
.admin_g{
    width: 20vw;
    background: #2c3e50;
    height: 7vh;
    margin-left: 100vh;
    margin-top: -60vh;
    justify-content: center;
    align-content: center;
    display: grid;
    text-decoration: none;
    font-size:25px;
    color: white;
    border-radius: 50px;
    border: 3px solid #142d4c;
    box-shadow: 0 0 50px 25px #113f67;}

.client{
    width: 20vw;
    background: #2c3e50;
    height: 7vh;
    margin-left: 3vh;
    margin-top: 40vh;
    justify-content: center;
    align-content: center;
    display: grid;
    text-decoration: none;
    font-size:25px;
    color: white;
    border: 3px solid #142d4c;
    box-shadow: 0 0 50px 25px #113f67;
    border-radius: 50px;
}

.admin:hover{
    background: #455d7a;
    transition: 0.5s;
}
.admin_g:hover{
    background: #455d7a;
    transition: 0.5s;
}

.client:hover{
  background: #455d7a;
  transition: 0.5s;
}

 
.cont{  
    margin-left: 17vw;
}

.sep{
    margin-top: -47vh;
    border: 1px solid #2c3e50;
    margin-left: 73vh;
    height: 85vh;
    width: 0%;
}