body{
    font-size: larger;
    display: grid;
    align-content: center;
    justify-content: center;
    background: #171d29;
    color: white;
}

.btn{
    display: grid;
    justify-content: center;
    text-decoration: none;
    color: black;
    margin-left: 17vh;
    width: 12vw;
    margin-top: 3vh;
    margin-bottom: 5vh;
    padding: 10px 0;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    background: #23c55e;
}

.btn:hover{
    background: #228B22;
    transition: 0.5s;
}